
  <h1>Clientes</h1>

    <%= form_tag clientes_path, method: :get do %>
    <%= text_field_tag :s_cliente, params[:s_cliente] %>
    <%= submit_tag "Buscar"  %>
  <% end %> <br />
  
<table>
  <tr>
    <th>Cliente</th>
    <th>Documento</th>
    <th>Teléfono</th>
    <th>Celular</th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= link_to (cliente.nombre.split[0] + ' ' + cliente.apellido.split[0]), cliente %></td>
    <td><%= cliente.documento %></td>
    <td><%= cliente.telefono %></td>
    <td><%= cliente.celular %></td>
  </tr>
<% end %>
</table>
<br />

<%= will_paginate @clients %> <br />

<%= link_to 'Nuevo Cliente', new_cliente_path %>