<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :nombre %><br />
    <%= f.text_field :nombre, placeholder: 'Nombre: Marcela' %>
  </div>
  <div class="field">
    <%#= f.label :apellido %>
    <%= f.text_field :apellido, placeholder: 'Apellido: Palpacelli' %>
  </div>
  <div class="field">
    <%#= f.label :documento %>
    <%= f.number_field :documento, placeholder: 'DNI: 12345678 Sin puntos' %>
  </div>
  <div class="field">
    <%#= f.label :direccion %><br />
    <%= f.text_field :direccion, placeholder: 'Dirección: Loria este 220 G.Cruz' %>
  </div>
  <div class="field">
    <%#= f.label :telefono %>
    <%= f.number_field :telefono, placeholder: 'Teléfono: 4390602 Sin puntos' %>
  </div>
  <div class="field">
    <%#= f.label :celular %>
    <%= f.text_field :celular, placeholder: 'Celular: 261-5570086' %>
  </div>
  <div class="field">
    <%#= f.label :email %><br />
    <%= f.email_field :email, placeholder: 'Email: opticapalpacelli@gmail.com' %>
  </div>
  <div class="field">
    <%#= f.label :nacimiento %>
    <%= f.date_select :nacimiento %>
  </div>
  <div class="field">
    <%#= f.label :recomendado %>
    <%= f.text_field :recomendado, placeholder: 'Recomendado por : Luciano' %>
  </div>
  <div class="field">
    <%#= f.label :ocupacion %><br />
    <%= f.text_field :ocupacion, placeholder: 'Ocupación: Oculista - Contactologa' %>
  </div>
  <div class="field">
    <%#= f.label :actividad %><br />
    <%= f.text_area :actividad, placeholder: 'Toda actividad recreativa, o no =)' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
