<%= form_for(@cliente) do |f| %>
  <div class="form-inputs">
    <% if @cliente.errors.any? %>
      <div id="error_explanation">
        <h2><%= 'Ha ocurrido 1 error: ' if @cliente.errors.count == 1%>
        <%= 'Han ocurrido ' + @cliente.errors.count.to_s + ' errores :' if @cliente.errors.count > 1 %> </h2>

        <div class="alert alert-error">
          <ul>
            <% @cliente.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row-fluid">
      <div class="span4">
        Nombre:<br \>
        <%= f.text_field :nombre, placeholder: 'Nombre: Marcela' %>
      </div>
      <div class="span4">
        Apellido:<br \>
        <%= f.text_field :apellido, placeholder: 'Apellido: Palpacelli' %>
      </div>
      <div class="span4">
        Documento:<br \>
        <%= f.text_field :documento, placeholder: 'DNI: 12345678 Sin puntos' %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        Dirección<br \>
        <%= f.text_field :direccion, placeholder: 'Dirección: Loria este 220 G.Cruz' %>
      </div>
      <div class="span4">
        Teléfono:<br \>
        <%= f.text_field :telefono, placeholder: 'Teléfono: 4390602 Sin puntos' %>
      </div>
      <div class="span4">
        Celular:<br \>
        <%= f.text_field :celular, placeholder: 'Celular: 261-5570086' %><br />
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        Email:<br \>
        <%= f.email_field :email, placeholder: 'Email: opticapalpacelli@gmail.com' %>
      </div>
      <div class="span4">
        Ocupación:<br \>
        <%= f.text_field :ocupacion, placeholder: 'Ocupación: Oculista - Contactologa' %>
      </div>
      <div class="span4">
        Recomendado por:<br \>
        <%= f.text_field :auto_recomendado, value: @cliente.recomendado, placeholder: 'Recomendado por : Luciano' %><br />
      </div>
    </div>

    <div class="row-fluid">
      <div class="span1">
        Nacio el:
      </div>
      <div class="span3">
      <%= f.select :birth_day, (1..31).to_a %>
      </div>
      <div class="span1">
        de
      </div>
      <div class="span3">
        <% i=-1 %>
      <% months = I18n.t('date.month_names').map {|m| [m, i+=1]} %>
      <%= f.select :birth_month, months %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        Actividad: <br \>
        <%= f.text_area :actividad, placeholder: 'Toda actividad recreativa, o no =)', size: '66x10' %>
      </div>
      <div class="span6">
        Historico de Salud:  <br \>
        <%= f.text_area :salud, placeholder: 'Historial de salud del cliente', size: '66x10' %>
      </div>
    </div>

    <h3>Facturación</h3>
    <hr />
    <div class="row-fluid">
      <div class="span2">
        Tipo <br />
        <%= f.select :document_type, ['CUIT', 'CUIL', 'DNI'] %>
      </div>
      <div class="span3">
        Numero: (Cuit/Cuil/Doc)<br />
        <%= f.text_field :document_number %>
      </div>
      <div class="span3">
        Tipo de factura <br />
        <%= f.select :bill_type, ['A', 'B', 'C'] %>
      </div>
      <div class="span3">
        Condición frente al IVA <br />
        <%= f.select :vat_condition, Bill::VAT_CONDITIONS, include_blank: true %>
      </div>
    </div>
    <div class="form-actions">
      <div class="pull-right">
        <%= yield :form_actions %>
      </div>

      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
