<table class="table table-striped">
  <tr><th>Fecha</th><th>Lentes</th><th>Color</th><th>Observaciones</th><th>Nº de orden</th> <th>Retirado?</th></tr>

<% @historiales.each do |h| %>
  <tr>
    <td><%= link_to(l(h.entrega), controller: "historials", action: "show", id: h.id) if h.entrega %> </td>
    <td><%= h.tipolente ? 'Contacto' : 'Flotante' %> </td>
    <td><%= h.colorlente %></td>
    <td><%= truncate h.observaciones, length: 30 %></td>
    <td><%= h.orden %></td>
    <td><%= h.retirado ? 'Retirado' : 'Aun no' %></td>
  </tr>
  <% end %>
</table>

<div class="will_paginate">
  <%= will_paginate @historiales %>
</div>
