<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @cliente.apellido %>
</p>

<p>
  <b>Documento:</b>
  <%= @cliente.documento %>
</p>

<p>
  <b>Dirección:</b>
  <%= @cliente.direccion %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @cliente.telefono %>
</p>

<p>
  <b>Celular:</b>
  <%= @cliente.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Nacimiento:</b>
  <%= l @cliente.nacimiento %>
</p>

<p>
  <b>Ocupación:</b>
  <%= @cliente.ocupacion %>
</p>

<p>
  <b>Actividad:</b>
  <%= @cliente.actividad %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Borrar', @cliente, confirm: 'Seguro quiere eliminar?', method: :delete %> |
<%= link_to 'Volver', clientes_path %>
