<%= form_for(@recete) do |f| %>
  <% if @recete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recete.errors.count, "error") %> prohibited this recete from being saved:</h2>

      <ul>
      <% @recete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ojo %><br />
    <%= f.check_box :ojo %>
  </div>
  <div class="field">
    <%= f.label :esferico %><br />
    <%= f.text_field :esferico %>
  </div>
  <div class="field">
    <%= f.label :cilindrico %><br />
    <%= f.text_field :cilindrico %>
  </div>
  <div class="field">
    <%= f.label :eje %><br />
    <%= f.text_field :eje %>
  </div>
  <div class="field">
    <%= f.label :diametro %><br />
    <%= f.text_field :diametro %>
  </div>
  <div class="field">
    <%= f.label :adicion %><br />
    <%= f.text_field :adicion %>
  </div>
  <div class="field">
    <%= f.label :av %><br />
    <%= f.text_field :av %>
  </div>
  <div class="field">
    <%= f.label :distancia %><br />
    <%= f.check_box :distancia %>
  </div>
  <div class="field">
    <%= f.label :receta %><br />
    <%= f.check_box :receta %>
  </div>
  <div class="field">
    <%= f.label :historial_id %><br />
    <%= f.number_field :historial_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
