<p id="notice"><%= notice %></p>

<p>
  <b>Ojo:</b>
  <%= @recete.ojo %>
</p>

<p>
  <b>Esferico:</b>
  <%= @recete.esferico %>
</p>

<p>
  <b>Cilindrico:</b>
  <%= @recete.cilindrico %>
</p>

<p>
  <b>Eje:</b>
  <%= @recete.eje %>
</p>

<p>
  <b>Diametro:</b>
  <%= @recete.diametro %>
</p>

<p>
  <b>Adicion:</b>
  <%= @recete.adicion %>
</p>

<p>
  <b>Av:</b>
  <%= @recete.av %>
</p>

<p>
  <b>Distancia:</b>
  <%= @recete.distancia %>
</p>

<p>
  <b>Receta:</b>
  <%= @recete.receta %>
</p>

<p>
  <b>Historial:</b>
  <%= @recete.historial_id %>
</p>


<%= link_to 'Edit', edit_recete_path(@recete) %> |
<%= link_to 'Back', recetes_path %>
