<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <% unless params[:controller] == 'user_sessions' %>
          <ul class="nav">
            <li>
              <%= link_to 'Usuarios', users_path if (@current_user && @current_user.admin == true) %>
            </li>
            <li>
              <%= link_to 'Clientes', clientes_path %>
            </li>
            <li>
              <%= link_to 'Historiales', historials_path%>
            </li>
            <li>
              <%= link_to 'Ventas', venta_path %>
            </li>
            <li>
              <%= link_to 'Mails', "/emails/index" %>
            </li>
          </ul>
        <% end %>
        <ul class="nav pull-right">
          <% if @current_user %>
            <li>
              <%= link_to @current_user.login ,:controller => 'users', :action => 'edit', :id => @current_user  %>
            </li>
            <li>
              <%= link_to "Salir", new_user_session_path, :method => :delete, :confirm => "Seguro?" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Registrarse", new_user_path %>
            </li>
            <li>
              <%= link_to "Entrar", new_user_session_path  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
