<h1>Listing venta</h1>

<table>
  <tr>
    <th>Mes</th>
    <th>Año</th>
    <th>Vendido</th>
    <th>Cantidad de ventas</th>
  </tr>

<% @venta.each do |ventum| %>
  <tr>
    <td><%= ventum.mes %></td>
    <td><%= ventum.anio %></td>
    <td><%= number_to_currency(ventum.vendido) %></td>
    <td><%= ventum.cantvendida %></td>
    <td><%= link_to 'Show', ventum %></td>
    <td><%= link_to 'Edit', edit_ventum_path(ventum) %></td>
    <td><%= link_to 'Destroy', ventum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ventum', new_ventum_path %>
