<h1>Usuarios</h1>

<table class="table table-striped">

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= link_to 'Mostrar', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Borrar', user, confirm: 'Seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="form-actions">
  <%= link_to 'Nuevo Usuario', new_user_path, class: 'btn btn-primary' %>
</div>
