<%= form_for(bill) do |f| %>
  <div class="form-inputs">
    <% if bill.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

        <ul>
        <% bill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3>Factura para <%= @client %></h3>
    <div class="field">
      <%#= f.label :client_id %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :historial_id %>
    </div>

    <div class="row-fluid">
      <div class="span4">
        Descripción
      </div>
      <div class="span1">
        Cantidad
      </div>
      <div class="span2">
        Precio
      </div>
      <div class="span2">
      </div>
    </div>

    <%= f.fields_for :bill_items do |bi| %>
      <%= render partial: 'bill_item', locals: { f: bi } %>
    <% end %>
    <%= link_to_add_fields('Agregar otro item', f, :bill_items) %>


    <hr />
    <div class="row-fluid">
      <div class="span2">
      </div>
      <div class="span2">
        Total:
      </div>
      <div class="span2">
        IVA:
      </div>
      <div class="span2">
        Total IVA:
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
      </div>
      <div class="span2">
      <%= f.text_field :amount, class: 'js-bill-total-amount' %>
      </div>
      <div class="span2">
      <%= f.select :vat, [21, 10.5], class: 'js-bill-vat' %>
      </div>
      <div class="span2">
      <%= f.text_field :vat_amount, class: 'js-bill-total-vat' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row-fluid">
      <div class="span3">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
      <div class="span3 pull-right">
        <%= yield :form_actions %>
      </div>
    </div>
  </div>
<% end %>
