<h1>Facturas</h1>

<div class="readonly-data">
  <%= render 'shared/date_filter' %>

  <div class="row-fluid">
    <%= form_tag bills_path, method: :get do %>
      <div class="span4">
        <%= text_field_tag :bill_number, params[:bill_number], class: 'span11' %>
      </div>
      <div class="span1">
        <%= submit_tag "Buscar", class: 'btn' %>
      </div>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Factura</th>
        <th>Cliente</th>
        <th>Número</th>
        <th>Fecha</th>
        <th>Monto</th>
      </tr>
    </thead>

    <tbody>
      <% @bills.each do |bill| %>
        <tr>
          <td><%= link_to bill.bill_type,
            bills_path(params_with(bill_type: bill.bill_type)) %></td>
          <td><%= bill.client %></td>
          <td><%= link_to bill.number, bill %></td>
          <td><%= l(bill.billed_date || bill.created_at.to_date) %></td>
          <td><%= number_to_currency bill.total_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @bills %>

</div>
