<p id="notice"><%= notice %></p>

<div class="readonly-data">
  <p>
    <strong>Cliente:</strong>
    <%= @bill.client %>
  </p>

  <% if @bill.historial %>
    <p>
      <strong>Historial:</strong>
      <%= link_to 'historial', historial_path(@bill.historial_id) %>
    </p>
  <% end %>

  <p>
    <strong>Número de factura:</strong>
    <%= @bill.number %>
  </p>

  <p>
    <strong>CAE:</strong>
    <%= @bill.cae %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= l(@bill.billed_date || @bill.created_at.to_date) %>
  </p>


  <table class="table">
    <thead>
      <th>Descripción</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Precio</th>
    </thead>
    <tbody>
      <% @bill.bill_items.each do |bi| %>
        <tr>
          <td><%= bi.description %></td>
          <td><%= bi.quantity %></td>
          <td><%= number_to_currency bi.amount %></td>
          <td><%= number_to_currency bi.total_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row-fluid">
    <div class="span4">
      <p>
        <strong>Monto:</strong>
        <%= number_to_currency @bill.amount %>
      </p>
    </div>
    <div class="span4">
      <p>
        <strong>IVA:</strong>
        <%= @bill.vat %>%
      </p>
    </div>
    <div class="span4">
      <p>
        <strong>Monto IVA:</strong>
        <%= number_to_currency @bill.vat_amount %>
      </p>
    </div>
  </div>



</div>

<div class="form-actions">
  <%= link_to t('label.edit'), edit_bill_path(@bill) %> |
  <%= link_to t('label.back'), bills_path %>
</div>
