<div class="readonly-data">
  <% if (@credit_note.try(:errors) || []).any? %>
    <div class="alert alert-error">
      <% @credit_note.errors.each do |_k, value| %>
        <%=  simple_format value.to_s %>
      <% end %>
    </div>
  <% end %>

  <h2>
    <%= link_to @bill.client, @bill.client %>
  </h2>

  <% if @bill.historial %>
    <p>
      <strong>Presupuesto:</strong>
      <%= link_to 'presupuesto', historial_path(@bill.historial_id) %>
    </p>
  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <h3>Factura</h3>

      <p>
        <strong>Número de factura:</strong><%= @bill.number_with_sale_point %>
      </p>

      <p>
        <strong>CAE:</strong>
        <%= @bill.cae %>
      </p>

      <p>
        <strong>Fecha:</strong>
        <%= l(@bill.billed_date || @bill.created_at.to_date) %>
      </p>

      <p>
        <strong>Forma de pago:</strong>
        <%= @bill.paid_via ? I18n.t('view.bills.paid_via.'+ @bill.paid_via) : '-----' %>
      </p>


      <% unless @credit_note.try(:persisted?) %>
        <%= link_to 'Imprimir Factura', invoice_bill_path(@bill.id), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="span6">
      <h3>Nota de crédito</h3>
      <p>
        <strong>Número:</strong> <%= @credit_note.number_with_sale_point if @credit_note %>
      </p>
      <p>
        <strong>CAE:</strong> <%= @credit_note.cae if @credit_note %>
      </p>
      <p>
        <strong>Fecha:</strong> <%= l(@credit_note.created_at.to_date) if @credit_note %>
      </p>

      <% if @credit_note.try(:persisted?) %>
        <%= link_to 'Imprimir Nota de Crédito', invoice_bill_path(@bill.id), class: 'btn btn-primary' %>
      <% else %>
         <%= form_for @bill, method: :post, url: rollback_bill_path(@bill.id) do |f| %>
           <%= f.submit 'Generar Nota de credito', class: 'btn btn-primary' %>
         <% end %>
      <% end %>
    </div>
  </div>


  <table class="table">
    <thead>
      <th>Descripción</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Precio</th>
    </thead>
    <tbody>
      <% @bill.bill_items.each do |bi| %>
        <tr>
          <td><%= bi.description %></td>
          <td><%= bi.quantity %></td>
          <td><%= number_to_currency bi.amount %></td>
          <td><%= number_to_currency bi.total_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row-fluid">
    <div class="span4">
      <p>
        <strong>Monto:</strong>
        <%= number_to_currency @bill.total_amount %>
      </p>
    </div>
    <div class="span4">
      <p>
        <strong>IVA:</strong>
        <%= @bill.vat %>%
      </p>
    </div>
    <div class="span4">
      <p>
        <strong>Monto IVA:</strong>
        <%= number_to_currency @bill.vat_amount %>
      </p>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('label.back'), bills_path %>
</div>
