<h1>Lentes de Contacto</h1>

<table id="tablacontato">
  <tr>
    <th>Cliente</th>
    <th>Lente</th>
    <th>Color</th>
    <th>Precio</th>
    <th>Orden</th>
    <th>Fecha</th>
  </tr>

<% @contacto.each do |historial| %>
  
  <tr> 
    <td><%= historial.cliente.nombre.camelize + ' ' + historial.cliente.apellido.camelize %></td>
    <td><%= link_to ( truncate historial.lente, length: 20), historial %></td>
    <td><%= historial.colorlente %></td>
    <td><%= number_to_currency(historial.precio) %></td>
    <td><%= historial.orden %></td>
    <td><%= l(historial.created_at, format: :little ) %></td>
  </tr>
  
<% end %>
</table>
<%= will_paginate @contacto, :param_name => :p_c %>

