  <tr> 
    <td><%= link_to (historial.cliente.nombre.camelize + ' ' + historial.cliente.apellido.camelize), historial %></td>
    <td><%= truncate historial.lente, length: 20 %></td>
    <td><%= historial.colorlente %></td>
    <td><%= number_to_currency(historial.precio) %></td>
    <td><%= historial.orden %></td>
    <td><%= l(historial.entrega, format: :little ) if historial.entrega %></td>
    <td><%= historial.retirado ? 'retirado' : link_to("Retirar?", retirar_contacto_historial_path(historial), remote: true, class: 'retirado', 'data-type' => 'html') %></td>
  </tr>