<h1> Lentes Flotantes </h1>
<table id="tablaflotantes">
  <tr>
    <th>Lente</th>
    <th>Color</th>
    <th>Armazon</th>
    <th>Cristales</th>
    <th>Observaciones</th>
    <th>Uso</th>
    <th>Seguimiento</th>
    <th>Precio</th>
    <th>Orden</th>
  </tr>

<% @historials.each do |historial| %>
  <% if historial.tipolente == false %>
  <tr>
    <td><%= link_to historial.lente, historial %></td>
    <td><%= historial.colorlente %></td>
    <td><%= historial.armazon  %></td>
    <td><%= historial.cristales %></td>
    <td><%= historial.observaciones %></td>
    <td><%= historial.uso %></td>
    <td><%= historial.seguimiento %></td>
    <td><%= number_to_currency(historial.precio) %></td>
    <td><%= historial.orden %></td>
  </tr>
  <% end %>
<% end %>
</table>

<%= will_paginate @flotante %>