<h1> Lentes Flotantes </h1>
<table id="tablaflotantes">
  <tr>
    <th>Cliente</th>
    <th>Lente</th>
    <th>Color</th>
    <th>Armazon</th>
    <th>Cristales</th>
    <th>Precio</th>
    <th>Orden</th>
    <th>Fecha</th>
  </tr>

<% @flotante.each do |historial| %>
  <tr>
    <td><%= historial.cliente.nombre.camelize + ' ' + historial.cliente.apellido.camelize %></td>
    <td><%= link_to ( truncate historial.lente, length: 20), historial %></td>
    <td><%= historial.colorlente %></td>
    <td><%= historial.armazon  %></td>
    <td><%= historial.cristales %></td>
    <td><%= number_to_currency(historial.precio) %></td>
    <td><%= historial.orden %></td>
    <td><%= l(historial.created_at, format: :little ) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @flotante, :param_name => :p_f %>
<br />
<%= link_to 'Nuevo Historial', new_historial_path %> 