<%= form_tag '/emails/sendemail', html: { multipart: true} do |f| %>
  <div class="form-inputs">
    <div class="row-fluid">
      <% title = 'Enviar email' %>
      <% if @client %>
        <h2><%= title + ' a ' + @client.to_name %></h2>
        <%= hidden_field_tag :to, @client.id %>
      <% else %>
        <h2><%= title + 's' %></h2>
        <div class="span1">
          Destino:
        </div>
        <div class="span3">
          <%= select_tag :to, options_for_select(email_destination_options) %>
        </div>
      <% end %>
      <div class="span1">
        Asunto:
      </div>
      <div class="span4">
        <%= text_field_tag :subject %>
      </div>
    </div>

    <div id="email_box">
      <%= text_area_tag :body, nil, class: 'nicEditor', rows: 10, cols: 50 , style: "width: 100%;" %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "Enviar", id: 'email_send', disabled: true, class: 'btn btn-info' %>
  </div>
<% end %>
