<div id="email-form">
  <br />
  <%= form_tag '/emails/sendemail', html: { multipart: true} do |f| %>
    <%= label_tag "destino:" %>
    <%= select_tag :to, "<option>todos</option><option>flotantes</option><option>contacto</option>".html_safe %>
    <%= label_tag "asunto:" %>
    <%= text_field_tag :subject %><br /><br />
    
  <br />
  <div id="div-mensaje">
    <%= text_area_tag :body, nil, class: 'nicEditor' %>
  </div>
    <br /> 
  <%= submit_tag "Enviar", id: 'email_send', disabled: true %>
  <% end %>
</div>
