
<div id="email-form">
<br />
<%= form_tag '/emails/sendemail', html: { multipart: true} do |f| %>
  <%= label_tag "destino:" %>
  <%= select :to, "", ['todos', 'ambos', 'flotantes', 'contacto'] %>
  <%= label_tag "asunto:" %>
  <%= text_field_tag :subject %><br /><br />
  
<br />
<div id="div-mensaje">
  <%= text_area_tag :body %>
</div>
  <br /> 
<%= submit_tag "Enviar" %>
<% end %>
</div>

<script type="text/javascript">
       bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
