<!DOCTYPE html>
<% main_class = "logged-in action-#{action_name}" %>

<html class="<%= main_class %>">
  <head>
    <title>Optica</title>
    <%= stylesheet_link_tag    'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= main_class %>">
    <%= render 'menus/topmenu' %>

    <div class="container">
      <div class="content"><%= yield %></div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= render 'menus/notifier' if flash.notice %>
    <%= render 'menus/alert' if flash.alert%>
  </body>
</html>
