<!DOCTYPE html>
<html>
<head>
  <title>Optica</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'menus/topmenu' %>
</head>
<body>

<%= yield %>

</body>
</html>
